* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Meta";
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3410/MonumentGrotesk-Mono.ttf);
}
@font-face {
  font-family: "Art";
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3410/ArtCompany-Mono.woff);
}
.container {
  width: 30%;
  height: 100%;
  height: -webkit-fill-available;
  height: -moz-available;
  height: fill-available;
}

/*.instruction {*/
/*  pointer-events: none;*/
/*  transition: opacity 0.4s ease-in-out;*/
/*  position: fixed;*/
/*  top: 50%;*/
/*  left: 50%;*/
/*  display: inline-block;*/
/*  width: auto;*/
/*  text-align: center;*/
/*  transform: translate3d(-50%, -50%, 0);*/
/*  white-space: nowrap;*/
/*  font-family: "Meta", monospace;*/
/*  font-size: calc(10px + 4vw);*/
/*  opacity: 0;*/
/*  padding: 0.6em 1em;*/
/*  border-radius: 100vw;*/
/*  color: black;*/
/*  text-transform: uppercase;*/
/*  line-height: 1;*/
/*}*/
/*.instruction.is-active {*/
/*  opacity: 1;*/
/*}*/
/*.instruction:before {*/
/*  content: "";*/
/*  position: absolute;*/
/*  border-radius: 100vw;*/
/*  overflow: hidden;*/
/*  top: 0;*/
/*  left: 0;*/
/*  right: 0;*/
/*  bottom: 0;*/
/*  background: rgba(255, 255, 255, 0.8);*/
/*  -webkit-backdrop-filter: blur(2vw) saturate(500%);*/
/*          backdrop-filter: blur(2vw) saturate(500%);*/
/*  z-index: -1;*/
/*}*/
/*.instruction:after {*/
/*  content: "";*/
/*  position: absolute;*/
/*  border-radius: 100vw;*/
/*  top: 0;*/
/*  left: 0;*/
/*  right: 0;*/
/*  bottom: 0;*/
/*  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);*/
/*}*/

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.butt {
  display: inline-block;
  transition: all 0.2s ease-in-out;
  border: none;
  margin: 0;
  padding: 6px 12px;
  border-radius: 100vw;
  width: auto;
  overflow: visible;
  background: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(2vw);
          backdrop-filter: blur(2vw);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* inherit font & color from ancestor */
  line-height: 1;
  color: inherit;
  font: inherit;
  font-family: "Meta";
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  outline: none;
}
.butt.disabled {
  pointer-events: none;
}
.butt:hover {
  background: blue;
  color: white;
}
.butt:active {
  transition: none;
  background: black;
  color: white;
}
.butt:focus {
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.6);
}