* {
  box-sizing: border-box;
}

/*title {*/
/*  text-align: center;*/
/*  align-content: center;*/
/*}*/

/*h1 {*/
/*  font-size: xxx-large;*/
/*}*/

/*h2 {*/
/*  font-size: xx-large;*/
/*}*/

/*p {*/
/*  font-size: x-large;*/
/*}*/

/*@font-face {*/
/*  font-family: "Meta";*/
/*  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3410/MonumentGrotesk-Mono.ttf);*/
/*}*/
/*@font-face {*/
/*  font-family: "Art";*/
/*  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3410/ArtCompany-Mono.woff);*/
/*}*/
.overlay {
  color: gray;
  text-align: center;
  position: absolute;
  padding-left: 40%;
}

.container {
  /*width: 100px;*/
  /*margin-left: 200px;*/
  /*margin-bottom: 1000px;*/
  /*width: 30%;*/
  /*height: 100%;*/
  align-content: center;
  text-align: center;
  scroll-behavior: smooth;
  height: -webkit-fill-available;
  position: relative;
  /*display: inline-block;*/
  /*position: fixed;*/
  /*height: 100px;*/
  /*height: -moz-available;*/
  /*height: fill-available;*/
}

.instruction {
  pointer-events: none;
  transition: opacity 0.4s ease-in-out;
  position: fixed;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: auto;
  text-align: center;
  transform: translate3d(-50%, -50%, 0);
  white-space: nowrap;
  font-family: "Meta", monospace;
  font-size: calc(10px + 4vw);
  opacity: 0;
  padding: 0.6em 1em;
  border-radius: 100vw;
  color: black;
  text-transform: uppercase;
  line-height: 1;
}
.instruction.is-active {
  opacity: 1;
}
.instruction:before {
  content: "";
  position: absolute;
  border-radius: 100vw;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(2vw) saturate(500%);
          backdrop-filter: blur(2vw) saturate(500%);
  z-index: -1;
}
.instruction:after {
  content: "";
  position: absolute;
  border-radius: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.butt {
  display: inline-block;
  transition: all 0.2s ease-in-out;
  border: none;
  margin: 0;
  padding: 6px 12px;
  border-radius: 100vw;
  width: auto;
  overflow: visible;
  background: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(2vw);
          backdrop-filter: blur(2vw);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* inherit font & color from ancestor */
  line-height: 1;
  color: inherit;
  font: inherit;
  font-family: "Meta";
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  outline: none;
}
.butt.disabled {
  pointer-events: none;
}
.butt:hover {
  background: blue;
  color: white;
}
.butt:active {
  transition: none;
  background: black;
  color: white;
}
.butt:focus {
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.6);
}

/***************************************************
 * Generated by SVG Artista on 1/23/2022, 11:43:52 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

svg .svg-elem-1{stroke-dashoffset:1034px;stroke-dasharray:1034px;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 0.8s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 0.8s}svg.active .svg-elem-1{stroke-dashoffset:0}svg .svg-elem-2{stroke-dashoffset:1034px;stroke-dasharray:1034px;fill:transparent;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.12s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 0.9s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.12s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 0.9s}svg.active .svg-elem-2{stroke-dashoffset:0;fill:rgb(255,255,255)}svg .svg-elem-3{stroke-dashoffset:144.2445526123047px;stroke-dasharray:144.2445526123047px;fill:transparent;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.24s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.24s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1s}svg.active .svg-elem-3{stroke-dashoffset:0;fill:rgb(0,0,0)}svg .svg-elem-4{stroke-dashoffset:65.90353393554688px;stroke-dasharray:65.90353393554688px;fill:transparent;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.36s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.1s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.36s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.1s}svg.active .svg-elem-4{stroke-dashoffset:0;fill:rgb(0,0,0)}svg .svg-elem-5{stroke-dashoffset:65.90353393554688px;stroke-dasharray:65.90353393554688px;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.48s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.2000000000000002s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.48s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.2000000000000002s}svg.active .svg-elem-5{stroke-dashoffset:0}svg .svg-elem-6{stroke-dashoffset:645.9451293945312px;stroke-dasharray:645.9451293945312px;fill:transparent;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.6s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.3s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.6s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.3s}svg.active .svg-elem-6{stroke-dashoffset:0;fill:rgb(255,242,204)}svg .svg-elem-7{stroke-dashoffset:645.9451293945312px;stroke-dasharray:645.9451293945312px;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.72s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.4000000000000001s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.72s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.4000000000000001s}svg.active .svg-elem-7{stroke-dashoffset:0}svg .svg-elem-8{stroke-dashoffset:430.9911804199219px;stroke-dasharray:430.9911804199219px;fill:transparent;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.84s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.5s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.84s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.5s}svg.active .svg-elem-8{stroke-dashoffset:0;fill:rgb(224,102,102)}svg .svg-elem-9{stroke-dashoffset:430.9911804199219px;stroke-dasharray:430.9911804199219px;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.96s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.6s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 0.96s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.6s}svg.active .svg-elem-9{stroke-dashoffset:0}svg .svg-elem-10{stroke-dashoffset:70.77608489990234px;stroke-dasharray:70.77608489990234px;fill:transparent;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 1.08s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.7000000000000002s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 1.08s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.7000000000000002s}svg.active .svg-elem-10{stroke-dashoffset:0;fill:rgb(255,242,204)}svg .svg-elem-11{stroke-dashoffset:70.77607727050781px;stroke-dasharray:70.77607727050781px;fill:transparent;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 1.2s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.8s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 1.2s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.8s}svg.active .svg-elem-11{stroke-dashoffset:0;fill:rgb(255,242,204)}svg .svg-elem-12{stroke-dashoffset:100.0687026977539px;stroke-dasharray:100.0687026977539px;fill:transparent;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 1.3199999999999998s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.9000000000000001s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 1.3199999999999998s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.9000000000000001s}svg.active .svg-elem-12{stroke-dashoffset:0;fill:rgb(0,0,0)}svg .svg-elem-13{stroke-dashoffset:49.03485107421875px;stroke-dasharray:49.03485107421875px;fill:transparent;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 1.44s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 2s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 1.44s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 2s}svg.active .svg-elem-13{stroke-dashoffset:0;fill:rgb(0,0,0)}svg .svg-elem-14{stroke-dashoffset:49.03485107421875px;stroke-dasharray:49.03485107421875px;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 1.56s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.1s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 1.56s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.1s}svg.active .svg-elem-14{stroke-dashoffset:0}svg .svg-elem-15{stroke-dashoffset:304.20037841796875px;stroke-dasharray:304.20037841796875px;fill:transparent;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 1.68s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.2s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 1.68s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.2s}svg.active .svg-elem-15{stroke-dashoffset:0;fill:rgb(147,196,125)}svg .svg-elem-16{stroke-dashoffset:304.20037841796875px;stroke-dasharray:304.20037841796875px;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 1.7999999999999998s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.3s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 1.7999999999999998s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.3s}svg.active .svg-elem-16{stroke-dashoffset:0}svg .svg-elem-17{stroke-dashoffset:435.40045166015625px;stroke-dasharray:435.40045166015625px;fill:transparent;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 1.92s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.4000000000000004s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 1.92s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.4000000000000004s}svg.active .svg-elem-17{stroke-dashoffset:0;fill:rgb(255,255,255)}svg .svg-elem-18{stroke-dashoffset:435.40045166015625px;stroke-dasharray:435.40045166015625px;-webkit-transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 2.04s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.5s;transition:stroke-dashoffset 1s cubic-bezier(0.47,0,0.745,0.715) 2.04s,fill 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.5s}svg.active .svg-elem-18{stroke-dashoffset:0}

.gif {
  /*height: 100px;*/
  /*.icon svg {*/
  height: 3em;
  width: 3em;
}